
{if isset($chitiet)}
<div class="main-container col2-right-layout">
  <div class="main container">
    <div class="row">
      <section class="col-main col-sm-9 wow">
        <div class="my-account">
          <div class="page-title">
            <h2>Thông tin đơn đặt hàng</h2>
          </div>
          <div class="dashboard">
            <div class="welcome-msg"> <strong>Xin chào, {$khachhang.tenDN}!</strong>
              <p>Cảm ơn quý khách đã đặt hàng, chúng tôi sẽ liên hệ với quý khách trong thời gian sớm nhất.</p>
            </div>
            <div class="recent-orders">
              <div class="title-buttons"><strong>Thông tin hàng đã đặt</strong> <a href="#">Xem tất cả đơn đặt hàng của bạn </a> </div>
              <div class="table-responsive">
                <table class="data-table" id="my-orders-table">
                  <col>
                  <col>
                  <col>
                  <col width="1">
                  <col width="1">
                  <col width="1">
                  <thead>
                    <tr class="first last">
                      <th>Mã hàng #</th>
                      <th>Tên sản phẩm</th>
                      <th>Hình ảnh</th>
                      <th><span class="nobr">Đơn giá</span></th>
                      <th>Số lượng</th>
                    </tr>
                  </thead>
                  <tbody>
                   {foreach $cartold as $id=>$sl}
                   {$detail=$model->selectone('sanpham'," id=$id")}
                   <tr>
                    <td>{$detail.id}</td>
                    <td>{$detail.tenSP}</td>
                    <td><img width="75" alt="{$detail.tenSP}" src="{$detail.hinhAnh}"></td>
                    <td><span class="price">{$detail.donGia|number_format} VND</span></td>
                    <td>{$sl}</td>
                  </tr>
                  {/foreach}
                  <tr>
                    <td colspan="5" style="text-align:right;">Tổng tiền: <span class="price">{$tongtien|number_format} VND</span></td>

                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="box-account">
            <div class="page-title">
              <h2>Thông tin đặt hàng</h2>
            </div>
            <div class="col2-set">
              <div class="col-1">
                <style type="text/css">
                  .box-account td {
                    width: 150px;
                  }
                </style>
                <h5>Thông tin tài khỏan</h5>
                <p>
                  <table>
                    <tr>
                      <td>Tên đăng nhập:</td>
                      <td>{$khachhang.tenDN}</td>
                    </tr>
                    <tr>
                      <td>Email:</td>
                      <td>{$khachhang.email}</td>
                    </tr>
                    <tr>
                      <td>Số điện thoại</td>
                      <td>{$khachhang.dienThoai}</td>
                    </tr>
                  </table>
                  <br>
                  <br/>

                </p>
              </div>
              <div class="col-2">
                <h5>Thông tin nhận hàng</h5>
                <p>
                  <table>
                    <tr>
                      <td>Tên người nhận:</td>
                      <td>{$khachhang.tenKH}</td>
                    </tr>
                    <tr>
                      <td>Địa chỉ</td>
                      <td>{$khachhang.diaChi}</td>
                    </tr>
                    <tr>
                      <td>Ghi chú</td>
                      <td>{$chitiet.ghiChu}</td>
                    </tr>
                  </table>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <aside class="col-right sidebar col-sm-3 wow">
      <div class="block block-account">
        <div class="block-title">Tài khoản</div>
        <div class="block-content">
          <ul>
            <li class="current"><a>Tài khoản</a></li>
            <li><a href="">Tài khoản</a></li>

          </ul>
        </div>
      </div>
    </aside>
  </div>
</div>
</div>
{else}
<script type="text/javascript">
  window.location.href='{$config.url}';
</script>
{/if}


