{if isset($khachhang)}
<div class="main-container col2-right-layout">
  <div class="main container">
    <div class="row">
      <section class="col-main col-sm-9 wow">
        <div class="my-account">
          <div class="page-title">
            <h2>Chi tiết đơn đặt hàng</h2>
          </div>
          <div class="dashboard">
            <div class="box-account">
              <div class="col2-set">
                <div class="col-1">
                  <style type="text/css">
                    .box-account td {
                      width: 120px;
                      padding: 2px;
                    }
                  </style>
                  <h5>Thông tin đăng nhập</h5>
                  <p>
                    <table>
                      <tr>
                        <td>Tên đăng nhập:</td>
                        <td>{$khachhang.tenDN}</td>
                      </tr>
                      <tr>
                        <td>Email:</td>
                        <td>{$khachhang.email}</td>
                      </tr>
                      <tr>
                        <td>Điện thoại</td>
                        <td>{$khachhang.dienThoai}</td>
                      </tr>
                    </table>
                    <br>
                    <br/>

                  </p>
                </div>
                <div class="col-2">
                  <h5>Thông tin khách hàng</h5>
                  <p>
                    <table>
                      <tr>
                        <td>Họ tên:</td>
                        <td>{$donhang.hoTen}</td>
                      </tr>
                      <tr>
                        <td>Địa chỉ</td>
                        <td>{$donhang.diaChi}</td>
                      </tr>
                      <tr>
                        <td>Ghi chú</td>
                        <td>{$donhang.ghiChu}</td>
                      </tr>
                    </table>
                  </p>
                </div>
              </div>
            </div>
            <div class="recent-orders" name="donhang">
                <div class="title-buttons">
                  <strong>Chi tiết hàng</strong> 
                  Tổng tiền: <span style="color:red;font-weight:bold;">
                  {$tt=$model->tongtien($donhang.id)}
                  {$tt.tongtien|number_format} VND</span>
                </div>
                <div class="table-responsive">
                  <table class="data-table" id="my-orders-table">
                    <col width="80">
                    <col>
                    <col>
                    <col width="1">
                    <col width="100">
                    <col width="1">
                    <thead>
                      <tr class="first last">
                        <th>Mã SP</th>
                        <th>Tên sản phẩm</th>
                        <th>Đơn giá</th>
                        <th>Số lượng</th>
                        <th><span class="nobr">Thành tiền</span></th>
                      </tr>
                    </thead>
                    <tbody>
                    {foreach $ctdh as $dh}
                    {$id=$dh.id_sp}
                    {$sp  = $model->selectone('sanpham',"id = '$id'")}
                    {$thanhtien=$sp.donGia * $dh.soLuong}
                    <!-- {$tien=$model->tongtien($dh.id)} -->
                      <tr class="last even">
                        <td>{$dh.id_sp}</td>
                        <td><a href="{$model->alias($sp.tenSP)}_{$sp.id}.html" target="_blank">{$sp.tenSP} </a></td>
                        <td>{$sp.donGia|number_format}</td>
                        <td>{$dh.soLuong}</td>
                        <td><span class="price">{$thanhtien|number_format} VND</span></td>
                      </tr>
                    {/foreach}
                    </tbody>
                  </table>
                </div>
              </div>
          </div>
        </div>
      </section>
      <aside class="col-right sidebar col-sm-3 wow">
        <div class="block block-account">
          <div class="block-title">Tài khoản</div>
          <div class="block-content">
            <ul>
              <li class="current"><a href="{$config.url}taikhoan.html">Thông tin cá nhân</a></li>
              <li><a href="{$config.url}taikhoan.html#donhang" >Đơn hàng đã đặt</a></li>
              <li><a href="doimatkhau.html">Đổi mật khẩu</a></li>
              <li><a href="doithongtin.html">Đổi thông tin</a></li>
              <li><a href="logout.html">Thoát</a></li>
            </ul>
          </div>
        </div>
      </aside>
    </div>
  </div>
</div>
{else}
<div class="main-container col2-right-layout">
  <div class="main container">
  Trước tiên bạn cần <a href="login.html">đăng nhập </a>!
  </div>
</div>
{/if}


