<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{$config.url}favicon.ico" />
  <title>{if isset($title)}{$title} - Đồ gỗ nội thất{else}Đồ gỗ nội thất {/if}</title>
  <link rel="stylesheet" href="{$config.url}{$config.dirtemp}css/bootstrap.min.css" type="text/css">
  <link rel="stylesheet" href="{$config.url}{$config.dirtemp}css/style.css" type="text/css">
  <link rel="stylesheet" href="{$config.url}{$config.dirtemp}css/revslider.css" type="text/css">
  <link rel="stylesheet" href="{$config.url}{$config.dirtemp}css/owl.carousel.css" type="text/css">
  <link rel="stylesheet" href="{$config.url}{$config.dirtemp}css/owl.theme.css" type="text/css">
  <link rel="stylesheet" href="{$config.url}{$config.dirtemp}css/font-awesome.css" type="text/css">
  <!-- Google Fonts -->
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,700' rel='stylesheet' type='text/css'>
</head>
<body class="cms-index-index">
<div class="page"> 
  <!-- Header -->
  <header class="header-container">
    <div class="header-top">
      <div class="container">
        <div class="row"> 
          <!-- Header Language -->
          <div class="col-xs-6">
            
            <div class="welcome-msg hidden-xs">Hỗ trợ khách hàng từ 8:00 đến 23:00 </div>
          </div>
          <div class="col-xs-6"> 
            <!-- Header Top Links -->
            <div class="toplinks">
              <div class="links">
                <span class="hidden-xs">Tổng đài</span>
                <div class="phone hidden-xs">1800 1234</div> 
                <span style="padding-left:70px;"></span>
                <span class="hidden-xs">Hotline</span>
                <div class="phone hidden-xs">099 999 999</div>
              </div>
            </div>
            <!-- End Header Top Links --> 
          </div>
        </div>
      </div>
    </div>
    <div class="header container">
      <div class="row">
        <div class="col-lg-2 col-sm-3 col-md-2 col-xs-12"> 
          <!-- Header Logo --> 
          <a class="logo" title="Magento Commerce" href="{$config.url}"><img alt="/" src="{$config.url}{$config.dirtemp}images/logo.png"></a> 
          <!-- End Header Logo --> 
        </div>
        <div class="col-lg-7 col-sm-4 col-md-6 col-xs-12"> 
          <!-- Search-col -->
          <div class="search-box">
            <form action="index.php" method="GET" id="frmsearch">
              <input type="hidden" name="controller" value="timkiem">
              <select name="idcat" class="cate-dropdown hidden-xs">
              <option value="0">==== Tất cả ==== </option>
              {foreach $model->GetCat(0,'','') as $k => $row} 
              <option value="{$row.id}">{$row.tenLoai} </option>
              {/foreach}
              </select>
              <input type="text" placeholder="Nhập từ khóa cần tìm..."  maxlength="70" class="" name="key" id="search">
              <button id="submit-button" class="search-btn-bg"><span> &nbsp;&nbsp;&nbsp;Tìm&nbsp;&nbsp;&nbsp;</span></button>
            </form>


          </div>
          <!-- End Search-col --> 
        </div>
        <!-- Top Cart -->
        <div class="col-lg-3 col-sm-5 col-md-4 col-xs-12"   style="padding-left: 0px;">
          <div class="top-cart-contain">
            <div class="mini-cart">
              <div class="basket dropdown-toggle"> <a href="order.html"> <i class="icon-cart"></i>
                <div class="cart-box"><span class="title">Giỏ Hàng</span><span id="cart-total"> {$gh} </span></div>
                </a></div>
              <div>
              </div>
            </div>
          </div>
          {if isset($khachhang)}
          <div class="signup"><a title="Thoát" href="logout.html"><span>Thoát</span></a></div>
          <span class="or"> |  </span>
          <div class="login" style="text-overflow: ellipsis;width: 100px;white-space: nowrap;">
             <a title="Tài khoản" href="taikhoan.html"><span>Xin chào, {$khachhang.tenDN}</span></a>
          </div>
          {else}
          <div class="signup"><a title="Login" href="login.html"><span>Đăng ký</span></a></div>
          <span class="or"> | </span>
          <div class="login"><a title="Login" href="login.html"><span>Đăng nhập</span></a></div>
          {/if}
        </div>
        <!-- End Top Cart --> 
      </div>
    </div>
  </header>
  <!-- end header --> 
  <!-- Navbar -->
  <nav>
    <div class="container">
      <div class="nav-inner"> 
        
        <!-- mobile-menu -->
        <div class="hidden-desktop" id="mobile-menu">
          <ul class="navmenu">
            <li>
              <div class="menutop">
                <div class="toggle"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></div>
                <h2>Menu</h2>
              </div>
              <ul style="display:none;" class="submenu">
                <li>
                  <ul class="topnav">
                    <li class="level0 nav-6 level-top first parent"> <a class="level-top" href="{$config.url}"> <span>Trang chủ</span> </a>
                    </li>
                    {$model->viewcate(0)}
                    
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <!--End mobile-menu --> 

        <a class="logo-small" title="Đồ gỗ nội thất" href="{$config.url}"><img alt="Đồ gỗ nội thất" src="{$config.url}{$config.dirtemp}images/logo-small.png"></a>
        <ul id="nav" class="hidden-xs">
          <li class="level0 parent drop-menu">
          <a href="{$config.url}" class="active"><span>Trang chủ</span> </a>
          </li>
        {$model->viewcate(0)}
        </ul>
      </div>
    </div>
  </nav>
  <!-- end nav --> 
  <div class="centersite">
  {if isset($temp)}{include file=$temp}{/if}
  </div>
  <!-- Footer -->
  <footer class="footer">
   
    <div class="footer-middle container">
      <div class="col-md-3 col-sm-4">
        <div class="footer-logo"><a href="/" title="Logo"><h2>Logo</h2></a></div>
        <p>Mô tả trang web. </p>
<!--         <div class="payment-accept">
          <div><img src="{$config.url}{$config.dirtemp}images/payment-1.png" alt="payment"> <img src="{$config.url}{$config.dirtemp}images/payment-2.png" alt="payment"> <img src="{$config.url}{$config.dirtemp}images/payment-3.png" alt="payment"> <img src="{$config.url}{$config.dirtemp}images/payment-4.png" alt="payment"></div>
        </div> -->
      </div>
      <div class="col-md-3 col-sm-4">
        <h4>Sản phẩm</h4>
        <ul class="links">
          <li class="first"><a href="#" title="Sản phẩm">Sản phẩm</a></li>
          <li><a href="#" title="Sản phẩm">San pham</a></li>
          <li class="last"><a href="#" title="Sản phẩm">Sản phẩm</a></li>
        </ul>
      </div>
      
      <div class="col-md-3 col-sm-4">
        <h4>Liên kết</h4>
        <ul class="links">
          <li><a href="#" title="Liên kết">Liên kết</a></li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-4">
        <h4>Liên hệ</h4>
        <div class="contacts-info">
          <address>
          <i class="add-icon">&nbsp;</i>Hà Nội<br/>Việt Nam
          </address>
          <div class="phone-footer"><i class="phone-icon">&nbsp;</i> 1900.1000</div>
          <div class="email-footer"><i class="email-icon">&nbsp;</i> <a href="mailto:support@magikcommerce.com">dogo@gmail.com</a> </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom container">
      <div class="col-sm-5 col-xs-12 coppyright"> &copy; 2015 . All Rights Reserved.</div>
    </div>
  </footer>
  <!-- End Footer --> 
</div>


<!-- JavaScript --> 
<script type="text/javascript" src="{$config.url}{$config.dirtemp}js/jquery.min.js"></script> 
           
<script>
$(document).ready(function(e) {
  $('#search').keyup(function(e) {
    $('.centersite').html('<div style="text-align:center;"><img src="{$config.url}{$config.dirtemp}images/loading.gif" width="32" height="32"><img src="{$config.url}{$config.dirtemp}images/loading.gif" width="32" height="32"><img src="{$config.url}{$config.dirtemp}images/loading.gif" width="32" height="32"><img src="{$config.url}{$config.dirtemp}images/loading.gif" width="32" height="32"></div>');
    $.get('{$config.url}ajaxsearch.php', $('#frmsearch').serialize(),function(data){
      $('.centersite').html(data);
    });
  });
});
</script>
<script type="text/javascript" src="{$config.url}{$config.dirtemp}js/bootstrap.min.js"></script> 

<script type="text/javascript" src="{$config.url}{$config.dirtemp}js/jquery.jcarousel.min.js"></script> 
<script type="text/javascript" src="{$config.url}{$config.dirtemp}js/cloudzoom.js"></script> 

<script type="text/javascript" src="{$config.url}{$config.dirtemp}js/common.js"></script> 
<script type="text/javascript" src="{$config.url}{$config.dirtemp}js/revslider.js"></script> 
<script type="text/javascript" src="{$config.url}{$config.dirtemp}js/owl.carousel.min.js"></script> 
<script type='text/javascript'>
  jQuery(document).ready(function(){
  jQuery('#rev_slider_4').show().revolution({
  dottedOverlay: 'none',
  delay: 5000,
  startwidth: 1170,
  startheight: 300,

  hideThumbs: 200,
  thumbWidth: 200,
  thumbHeight: 50,
  thumbAmount: 2,

  navigationType: 'thumb',
  navigationArrows: 'solo',
  navigationStyle: 'round',

  touchenabled: 'on',
  onHoverStop: 'on',

  swipe_velocity: 0.7,
  swipe_min_touches: 1,
  swipe_max_touches: 1,
  drag_block_vertical: false,

  spinner: 'spinner0',
  keyboardNavigation: 'off',

  navigationHAlign: 'center',
  navigationVAlign: 'bottom',
  navigationHOffset: 0,
  navigationVOffset: 20,

  soloArrowLeftHalign: 'left',
  soloArrowLeftValign: 'center',
  soloArrowLeftHOffset: 20,
  soloArrowLeftVOffset: 0,

  soloArrowRightHalign: 'right',
  soloArrowRightValign: 'center',
  soloArrowRightHOffset: 20,
  soloArrowRightVOffset: 0,

  shadow: 0,
  fullWidth: 'on',
  fullScreen: 'off',

  stopLoop: 'off',
  stopAfterLoops: -1,
  stopAtSlide: -1,

  shuffle: 'off',

  autoHeight: 'off',
  forceFullWidth: 'on',
  fullScreenAlignForce: 'off',
  minFullScreenHeight: 0,
  hideNavDelayOnMobile: 1500,

  hideThumbsOnMobile: 'off',
  hideBulletsOnMobile: 'off',
  hideArrowsOnMobile: 'off',
  hideThumbsUnderResolution: 0,

  hideSliderAtLimit: 0,
  hideCaptionAtLimit: 0,
  hideAllCaptionAtLilmit: 0,
  startWithSlide: 0,
  fullScreenOffsetContainer: ''
  });
  });
</script>
</body>
</html>

