<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{$title}</h3>
  </div>
  <div class="panel-body">
<form action="{$link}" method="post">
 <p style="text-align:right"><button type="button" class="btn btn-success"  data-toggle="modal"  data-target="#myModal"><span class="glyphicon glyphicon-plus"></span> Thêm mới</button>
 <button type="submit" class="btn btn-danger"  onClick="return confirm('Bạn có chắc muốn xóa mục chọn')" ><span class="glyphicon glyphicon-trash"></span> Xóa mục chọn </button>
 </p>
 <script>
$(document).ready(function(e) {
	var choice=false;
    $('#cball').click(function(e) {
		if(choice==false)
		{
			$('.item').attr('checked',true);
			choice=true;
		}else{
			$('.item').attr('checked',false);
			choice=false;
		}
	});
}); 
 
 </script>
   {$lib->viewpage($link)}
    <table width="100%" class="table table-striped table-bordered table-hover">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Tiêu đề</th>
        <th scope="col">Hình ảnh</th>
        <th scope="col">Ngày đăng</th>
        <th scope="col">Trạng thái</th>
        <th scope="col"><input type="checkbox" id="cball" name="cball"  value="1"></th>
        <th scope="col">Thao tác</th>
      </tr>
      {foreach $danhsach as $sp}
      <tr>
        <td>{$sp.id}</td>
        <td>{$sp.title}</td>
        <td><img src="{$sp.img}"  class="img-thumbnail" width="60" ></td>
        <td>{$sp.date}</td>
        <td>
{if $sp.status==0} 
<span class="glyphicon glyphicon-remove text-danger"></span>
{else}
<span class="glyphicon glyphicon-ok text-success"></span>
{/if}
        </td>
        <td><input type="checkbox" name="cbitem[]" value="{$sp.id}" class="item" ></td>
        <td>
<button type="button" class="btn btn-warning" data-toggle="modal"  data-target="#myModal" id="btnedit{$sp.id}"><span class="glyphicon glyphicon-pencil"></span> Sửa</button>
<a href="{$link}&id={$sp.id}" class="btn btn-danger" onClick="return confirm('Bạn có chắc muốn xóa sản phẩm: {$sp.title}?')"><span class="glyphicon glyphicon-trash"></span> Xóa</a>
        </td>
      </tr>
      <script>
	  $(document).ready(function(e) {
        //bắt sự kiện Click chuột vào nút sửa sản phẩm tương ứng
		$('#btnedit{$sp.id}').click(function(e) {
			
            $('#id').val('{$sp.id}');
			$('#title').val('{$sp.title}');
			$('#img').attr('src','{$sp.img}');
			$('#mota').val('{$sp.mota}');
			$('#keyword').val('{$sp.keyword}');
			$('#des').val('{$sp.des}');
			{if $sp.status==1} 
				$('#status1').click();
			{else}
				$('#status2').click();
			{/if}
        });
    	
		});
	  
	  </script>
      
      {/foreach}
    </table>
    </form>
   {$lib->viewpage($link)}
  </div>
</div>


<!-- Form Sản phẩm -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">{$title}</h4>
      </div>
      
      <form action="{$link}" method="post" class="form-horizontal" id="frm" enctype="multipart/form-data"	>
      <input type="hidden" name="id" id="id" value="0">
      
      <div class="modal-body">
      	 
         <div class="form-group">
            <label for="title" class="col-sm-2 control-label">Tên *</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="title" name="title" placeholder="Tên sản phẩm">
            </div>
          </div>
          
          
           <div class="form-group">
           
            <label for="nfile" class="col-sm-2 control-label">Ảnh</label>
            <div class="col-sm-10">
              <input type="file" class="form-control" name="img" >
              <img src=""  id="img"  class="img-thumbnail" width="60" >
            </div>
          </div>
         <div class="form-group">
        <label for="mota" class="col-sm-2 control-label">Mô tả</label>
        <div class="col-sm-10">
        <textarea class="form-control" id="mota" name="mota" placeholder="Mô tả sản phẩm"></textarea>
        </div>
 		 </div>
         <div class="form-group">
        <label for="keyword" class="col-sm-2 control-label">Keyword</label>
        <div class="col-sm-10">
        <input type="text" class="form-control" id="keyword" name="keyword" placeholder="Từ khóa (Seo)">
        </div>
 		 </div>
          <div class="form-group">
        <label for="des" class="col-sm-2 control-label">Description</label>
        <div class="col-sm-10">
        <input type="text" class="form-control" id="des" name="des" placeholder="Mô tả (Seo)">
        </div>
 		 </div>
        <div class="form-group">
        <label for="status" class="col-sm-2 control-label">Trạng thái</label>
        <div class="col-sm-10">
      	<input type="radio" value="1" name="status" id="status1" checked> Hoạt động
        <input type="radio" value="0" name="status" id="status2"> Khóa
        </div>
 		 </div>
         
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
        <button type="submit" class="btn btn-primary">Cập nhật</button>
      </div>
      </form>
      
    </div>
  </div>
</div>
