<div class="row">
    <div class="col-lg-12">
        <div class="page-header">
            <h3>
                <ol class="breadcrumb">
                    <li>
                        <i class="fa fa-home"></i>  <a href="{$config.url}admin/index.php">Home</a>
                    </li>
                    <li class="active">
                        <i class="fa fa-shopping-cart"></i> Quản lý đơn hàng
                    </li>
                </ol>
            </h3>
        </div>
    </div>
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <form class="form-inline">
            <div class="form-group">
            <label>Tìm kiếm theo </label>
                <select class="form-control">
                    <option selected>Số hóa đơn</option>
                    <option>Tên khách hàng</option>
                    <option>Ngày đặt</option>
                </select>
                <input type="text" class="form-control" placeholder="Nhập từ khóa" size="60" >
            </div>
            <button class="btn btn-primary" type="button"><i class="glyphicon glyphicon-search"></i>  Tìm</button>
            <button class="btn btn-info" type="button"><i class="glyphicon glyphicon-off"></i>  Tất cả đơn hàng</button>
        </form>

    </div>
</div>
</br />
<div class="row">
    <div class="col-lg-12">
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th><input type="checkbox" /></th>
                        <th>Số HD</th>
                        <th>Ngày đặt</th>
                        <th>Tên khách hàng</th>
                        <th>Ngày đặt</th>
                        <th>Địa chỉ</th>
                        <th>Điện thoại</th>
                        <th>Tổng tiền</th>
                        <th>Tình trạng</th>
                        <th colspan="2">Thao tác</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td><input type="checkbox" /></thtd>
                        <td><a href="">#1111</a></td>
                        <td>Ngày đặt</td>
                        <td>Tên khách hàng</td>
                        <td>Ngày đặt</td>
                        <td>Địa chỉ</td>
                        <td>Điện thoại</td>
                        <td>Tổng tiền</td>
                        <td>Tình trạng</td>
                        <td colspan="2">
                            <a href="#" class="btn btn-warning"><i class="glyphicon glyphicon-pencil"></i> Lập hóa đơn </a>
                            <button onclick="return confirm('Bạn có muốn xóa');" type="button" class="btn btn-danger"><i class="glyphicon glyphicon-remove"></i> Xóa</button>
                        </td>
                    </tr>

                    <tr>
                        <td><input type="checkbox" /></thtd>
                        <td><a href="">#1111</a></td>
                        <td>Ngày đặt</td>
                        <td>Tên khách hàng</td>
                        <td>Ngày đặt</td>
                        <td>Địa chỉ</td>
                        <td>Điện thoại</td>
                        <td>Tổng tiền</td>
                        <td>Tình trạng</td>
                        <td colspan="2">
                            <a href="#" class="btn btn-warning"><i class="glyphicon glyphicon-pencil"></i> Lập hóa đơn  </a>
                            <button onclick="return confirm('Bạn có muốn xóa');" type="button" class="btn btn-danger"><i class="glyphicon glyphicon-remove"></i> Xóa</button>
                        </td>
                    </tr>

                    <tr>
                        <td><input type="checkbox" /></thtd>
                        <td><a href="">#1111</a></td>
                        <td>Ngày đặt</td>
                        <td>Tên khách hàng</td>
                        <td>Ngày đặt</td>
                        <td>Địa chỉ</td>
                        <td>Điện thoại</td>
                        <td>Tổng tiền</td>
                        <td>Tình trạng</td>
                        <td colspan="2">
                            <a href="#" class="btn btn-warning"><i class="glyphicon glyphicon-pencil"></i> Lập hóa đơn  </a>
                            <button onclick="return confirm('Bạn có muốn xóa');" type="button" class="btn btn-danger"><i class="glyphicon glyphicon-remove"></i> Xóa</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>    