<div class="row">
    <div class="col-lg-12">
        <div class="page-header">
            <h3>
                <ol class="breadcrumb">
                    <li>
                        <i class="fa fa-home"></i>  <a href="{$config.url}admin/index.php">Home</a>
                    </li>
                    <li class="active">
                        <i class="fa fa-fw fa-reply"></i> Quản lý góp ý
                    </li>
                </ol>
            </h3>
        </div>
    </div>
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th><input type="checkbox" /></th>
                        <th>Id</th>
                        <th>Họ tên khách hàng</th>
                        <th>Địa chỉ</th>
                        <th>Điện thoại</th>
                        <th>Email</th>
                        <th>Ngày góp ý</th>
                        <th colspan="3">Nội dụng</th>
                        <th>Thao tác</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td><input type="checkbox" /></td>
                        <td>Id</td>
                        <td>Họ tên khách hàng</td>
                        <td>Địa chỉ</td>
                        <td>Điện thoại</td>
                        <td>Email</td>
                        <td>Ngày góp ý</td>
                        <td colspan="3">Nội dụng Nội dụng Nội dụng Nội dụng Nội dụng Nội dụng Nội dụng Nội dụng Nội dụng Nội dụng Nội dụng Nội dụng Nội dụng Nội dụng  </td>
                        <td> <button onclick="return confirm('Bạn có muốn xóa');" type="button" class="btn btn-danger"><i class="glyphicon glyphicon-remove"></i> Xóa</button>
        </div></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>    