<div class="row">
    <div class="col-lg-12">
        <div class="page-header">
            <h3>
                <ol class="breadcrumb">
                    <li>
                        <i class="fa fa-home"></i>  <a href="{$config.url}admin/index.php">Home</a>
                    </li>
                    <li class="active">
                        <i class="fa fa-fw fa-bar-chart"></i> Báo cáo thống kê
                    </li>
                </ol>
            </h3>
        </div>
    </div>
</div>

<!-- /.row -->
<!-- Doanh số bán hàng theo
    năm
    quý
    tháng
    tuần
    custom ngày
    sản phẩm
     -->